<!DOCTYPE html>
<html>
<head>
  <title>Índice de Temas</title>
</head>
  <div class="header-card">
    <img src="assets/Imagenes/Logica.jpg" alt="Encabezado">
  </div>
  <div class="index-card">
    <div class="topic-card">
      <h4>Proposiciones y conectores lógicos</h4>
      <ul class="subtopics">
        <li>Concepto de proposición.</li>
        <li>Conectores lógicos.</li>
      </ul>
      <button routerLink="/perfil/logica/proposiciones">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Tablas de verdad</h4>
      <ul class="subtopics">
        <li>Construcción y análisis de tablas de verdad.</li>
        <li>Identificación de tautologías y contradicciones.</li>
      </ul>
      <button routerLink="/perfil/logica/tablas">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Implicación y equivalencia lógica</h4>
      <ul class="subtopics">
        <li>Implicación lógica y bicondicional.</li>
        <li>Leyes de implicación y equivalencia.</li>
      </ul>
      <button routerLink="/perfil/logica/implicacion">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Argumentos y razonamiento lógico</h4>
      <ul class="subtopics">
        <li>Argumentos válidos e inválidos.</li>
        <li>Razonamiento deductivo e inductivo.</li>
      </ul>
      <button routerLink="/perfil/logica/argumentos">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Lógica de conjuntos</h4>
      <ul class="subtopics">
        <li>Operaciones de conjuntos (unión, intersección, diferencia).</li>
        <li>Diagramas de Venn.</li>
      </ul>
      <button routerLink="/perfil/logica/conjuntos">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Lógica matemática y demostraciones</h4>
      <ul class="subtopics">
        <li>Métodos de demostración.</li>
        <li>Demostraciones de teoremas y propiedades matemáticas.</li>
      </ul>
      <button routerLink="/perfil/logica/logica-matematica">Ver Tema</button>
    </div>
  </div>
</html>
