<!DOCTYPE html>
<html>
<head>
  <title>Índice de Temas</title>
</head>
  <div class="header-card">
    <img src="assets/Imagenes/Algebra.jpg" alt="Encabezado">
  </div>
  <div class="index-card">
    <div class="topic-card">
      <h4>Expresiones algebraicas</h4>
      <ul class="subtopics">
        <li>Simplificación y evaluación de expresiones algebraicas.</li>
        <li>Propiedades de las operaciones algebraicas.</li>
      </ul>
      <button routerLink="/perfil/algebra/expresiones">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Ecuaciones lineales y sistemas de ecuaciones</h4>
      <ul class="subtopics">
        <li>Resolución de ecuaciones lineales.</li>
        <li>Métodos de resolución de sistemas de ecuaciones lineales.</li>
      </ul>
      <button routerLink="/perfil/algebra/ecuaciones">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Inecuaciones y desigualdades</h4>
      <ul class="subtopics">
        <li>Solución de inecuaciones lineales y cuadráticas.</li>
        <li>Representación gráfica de desigualdades.</li>
      </ul>
      <button routerLink="/perfil/algebra/inecuaciones">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Factorización y productos notables</h4>
      <ul class="subtopics">
        <li>Factorización de expresiones algebraicas.</li>
        <li>Identificación de productos notables.</li>
      </ul>
      <button routerLink="/perfil/algebra/factorizacion">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Funciones y gráficas</h4>
      <ul class="subtopics">
        <li>Concepto de función.</li>
        <li>Gráficas de funciones lineales y cuadráticas.</li>
      </ul>
      <button routerLink="/perfil/algebra/funciones">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Funciones lineales y cuadráticas</h4>
      <ul class="subtopics">
        <li>Propiedades y características de funciones lineales y cuadráticas.</li>
        <li>Cálculo de pendiente y coeficientes.</li>
      </ul>
      <button routerLink="/perfil/algebra/lineales-cuadraticas">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Problemas de aplicación algebraica</h4>
      <ul class="subtopics">
        <li>Resolución de problemas prácticos utilizando conceptos algebraicos.</li>
      </ul>
      <button routerLink="/perfil/algebra/problemas-algebra">Ver Tema</button>
    </div>
  </div>
</html>
