<!DOCTYPE html>
<html>
<head>
  <title>Índice de Temas</title>
</head>
  <div class="header-card">
    <img src="assets/Imagenes/Geometria.jpg" alt="Encabezado">
  </div>
  <div class="index-card">
    <div class="topic-card">
      <h4>Figuras geométricas básicas</h4>
      <ul class="subtopics">
        <li>Puntos, líneas, segmentos de recta, rayos y planos.</li>
        <li>Clasificación de ángulos.</li>
      </ul>
      <button routerLink="/perfil/geometria/figuras">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Triángulos</h4>
      <ul class="subtopics">
        <li>Tipos de triángulos (equiláteros, isósceles, escalenos).</li>
        <li>Propiedades y teoremas de triángulos.</li>
        <li>Cálculo de perímetro y área de triángulos.</li>
      </ul>
      <button routerLink="/perfil/geometria/triangulos">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Cuadriláteros</h4>
      <ul class="subtopics">
        <li>Clasificación de cuadriláteros (paralelogramos, rectángulos, rombos, trapecios).</li>
        <li>Propiedades y teoremas de cuadriláteros.</li>
        <li>Cálculo de perímetro y área de cuadriláteros.</li>
      </ul>
      <button routerLink="/perfil/geometria/cuadrilateros">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Circunferencia y círculo</h4>
      <ul class="subtopics">
        <li>Elementos de una circunferencia.</li>
        <li>Cálculo de longitud de circunferencia y área de círculo.</li>
      </ul>
      <button routerLink="/perfil/geometria/circunferencia">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Áreas y perímetros de figuras planas</h4>
      <ul class="subtopics">
        <li>Cálculo de áreas y perímetros de polígonos regulares e irregulares.</li>
      </ul>
      <button routerLink="/perfil/geometria/areas-perimetros">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Volúmenes y áreas de cuerpos geométricos</h4>
      <ul class="subtopics">
        <li>Cálculo de volúmenes y áreas de prismas, cilindros, pirámides y conos.</li>
      </ul>
      <button routerLink="/perfil/geometria/volumenes-areas">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Geometría analítica</h4>
      <ul class="subtopics">
        <li>Coordenadas en el plano.</li>
        <li>Distancia entre dos puntos.</li>
        <li>Ecuación de la recta.</li>
      </ul>
      <button routerLink="/perfil/geometria/geometria-analitica">Ver Tema</button>
    </div>
  </div>
</html>
