<!DOCTYPE html>
<html>
<head>
	<title>MathGenious</title>
  <script></script>
</head>
<body>
	<main>
		<section class="info">
			<h1>¡Aprende matemáticas fácilmente!</h1>
			<p>MathGenious te ofrece una forma divertida y fácil de aprender matemáticas en línea.</p>
			<button routerLink="/registro">Comienza ahora</button>
		</section>
	</main>

  <Section>
    <div class="slider">
      <div class="slides">
        <div class="slide">
          <img src="assets/Imagenes/slider1.png" alt="Slide 1">
        </div>
        <div class="slide">
          <img src="assets/Imagenes/slider2.png" alt="Slide 2">
        </div>
        <div class="slide">
          <img src="assets/Imagenes/slider3.png" alt="Slide 3">
        </div>
        <div class="slide">
          <img src="assets/Imagenes/slider4.png" alt="Slide 4">
        </div>
      </div>
    </div>


  </Section>


  <br>
  <br>
  <br>
		<section class="info">
			<h1>¿Por qué utilizar MathGenious?</h1>
			<p>Los estudiantes mejoran su capacidad cognitiva y calificaciones</p>
		</section>


		<section class="features">
			<div class="card">
				<img src="assets/Imagenes/1.gif">
				<h2>Mejora tus calificaciones</h2>
				<p>Mejora tus resultados en la clase de matemática en tu institución.</p>
			</div>
			<div class="card">
				<img src="assets/Imagenes/2.gif">
				<h2>Ejercicios interactivos</h2>
				<p>Practica y refuerza tus conocimientos con nuestros ejercicios interactivos.</p>
			</div>
			<div class="card">
				<img src="assets/Imagenes/3.gif" >
				<h2>Estadísticas sobre tu progreso</h2>
				<p>Mantente al tanto en tus avances de aprendizaje numérico</p>
			</div>
		</section>
	<footer>
		<p>&copy; 2023 MathGenious</p>
	</footer>
</body>
</html>


