<!DOCTYPE html>
<html>
<head>
  <title>Índice de Temas</title>
</head>
  <div class="header-card">
    <img src="assets/Imagenes/Calculo.jpg" alt="Encabezado">
  </div>
  <div class="index-card">
    <div class="topic-card">
      <h4>Límites y continuidad</h4>
      <ul class="subtopics">
        <li>Concepto de límite.</li>
        <li>Continuidad de funciones.</li>
      </ul>
      <button routerLink="/perfil/calculo/limites">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Derivadas y reglas de derivación</h4>
      <ul class="subtopics">
        <li>Concepto de derivada.</li>
        <li>Reglas de derivación básicas.</li>
        <li>Derivadas de funciones trigonométricas y exponenciales.</li>
      </ul>
      <button routerLink="/perfil/calculo/derivadas">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Aplicaciones de la derivada</h4>
      <ul class="subtopics">
        <li>Máximos y mínimos de funciones.</li>
        <li>Optimización de problemas prácticos.</li>
      </ul>
      <button routerLink="/perfil/calculo/aplicacion">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Integrales y teorema fundamental del cálculo</h4>
      <ul class="subtopics">
        <li>Concepto de integral.</li>
        <li>Reglas de integración.</li>
      </ul>
      <button routerLink="/perfil/calculo/integrales">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Aplicaciones de la integral</h4>
      <ul class="subtopics">
        <li>Integrales indefinidas.</li>
        <li>Integrales definidas (áreas bajo la curva).</li>
      </ul>
      <button routerLink="/perfil/calculo/aplicacion-integrales">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Sucesiones y series</h4>
      <ul class="subtopics">
        <li>Concepto de sucesión y serie.</li>
        <li>Progresión Aritmética.</li>
        <li>Progresión Geométrica.</li>
      </ul>
      <button routerLink="/perfil/calculo/sucesiones">Ver Tema</button>
    </div>
  </div>
</html>
