<!DOCTYPE html>
<html>
<head>
  <title>Índice de Temas</title>
</head>
<div class="header-card">
  <img src="assets/Imagenes/Aritmetica.jpg" alt="Encabezado">
</div>
  <div class="index-card">
    <div class="topic-card">
      <h4>Números Naturales</h4>
      <ul class="subtopics">
        <li>Suma, resta, multiplicación y división.</li>
        <li>Propiedades de los números naturales.</li>
        <li>Orden que debe seguirse para realizar operaciones.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/numeros-naturales">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Números enteros</h4>
      <ul class="subtopics">
        <li>Operaciones con números enteros.</li>
        <li>Propiedades de los números enteros.</li>
        <li>Valor absoluto y opuesto de un número entero.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/numeros-enteros">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Fracciones</h4>
      <ul class="subtopics">
        <li>Suma, resta, multiplicación y división de fracciones.</li>
        <li>Operaciones mixtas.</li>
        <li>Simplificación de fracciones.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/fracciones">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Números decimales</h4>
      <ul class="subtopics">
        <li>Operaciones con números decimales.</li>
        <li>Comparación y orden de números decimales.</li>
        <li>Redondeo de decimales.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/numeros-decimales">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Porcentajes</h4>
      <ul class="subtopics">
        <li>Cálculo de porcentajes.</li>
        <li>Aplicación de porcentajes en problemas cotidianos.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/porcentajes">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Potencias y raíces</h4>
      <ul class="subtopics">
        <li>Propiedades de las potencias.</li>
        <li>Operaciones con potencias.</li>
        <li>Cálculo de raíces cuadradas y cúbicas.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/potencia-raiz">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Números racionales e irracionales</h4>
      <ul class="subtopics">
        <li>Representación y operaciones con números racionales.</li>
        <li>Identificación y propiedades de los números irracionales.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/racionales-irracionales">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Jerarquía de Operaciones</h4>
      <ul class="subtopics">
        <li>Multiplicación, división, suma y resta combinada.</li>
        <li>Operaciones combinadas con signos de agrupación.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/jerarquia">Ver Tema</button>
    </div>
    <div class="topic-card">
      <h4>Problemas de aplicación aritmética</h4>
      <ul class="subtopics">
        <li>Análisis y Resolución de problemas matemáticos haciendo uso de aplicaciones aritméticas.</li>
      </ul>
      <button routerLink="/perfil/aritmetica/problemas">Ver Tema</button>
    </div>
  </div>
</html>
